body {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

#score {
  width: 350px;
  margin-bottom: 15px;
}

.stars, .restart {
    display: inline-block;
  }

.restart {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.card {
  background-color: #000066;
  border: 3px solid #000066;
  height: 100px;
  width: 100px;
  margin: 10px;
  /* float: left; */
  /* display: inline-block; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  font-size: 0;
}

#board {
  width: 504px;  /* question to self: why not 480 by calculation?? */
  height: 504px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #00ccff 0%, #cc66ff 80%);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.card.open {
    /* transform: rotateY(0); */
    background: #ccccff;
    border: 3px solid #ccccff;
    cursor: default;
    font-size: 33px;
}

.card.match {
  border: 3px solid #00ff00;
}
